:root {
    --tem-red: #F78888;
    --tem-yellow: #F3D250;
    --tem-grey: #ECECEC;
    --tem-light-blue: #90CCF4;
    --tem-dark-blue: #5DA2D5;
    --lg-light-orange: #FAB042;
    --lg-dark-orange: #E08216;
    --lg-light-green: #03A79D;
    --lg-dark-green: #036861;
}